<footer class="text-black-50 mt-xl-5 bg-success" xmlns:sec="http://www.w3.org/1999/xhtml">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-lg-4 col-xl-3 text-white">
                <h5>About</h5>
                <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
                <p class="mb-0">
                    Spring Boot learning system meant for beginners.
                </p>
            </div>
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto text-white" sec:authorize="isAuthenticated()">
                <h5>Assignments and lectures</h5>
                <hr class="bg-white mb-2 mt-2 d-lg-block mx-auto w-25">
                <ul class="list-unstyled">
                    <li>2nd May <a href="/lectures/view-lecture/1">Introduction to Java</a></li>
                    <li>5th May <a href="/lectures/view-lecture/2">OOP in Java</a></li>
                    <li>10th May <a href="/lectures/view-lecture/3">Introduction to Spring </a></li>
                    <li>11th May <a href="/lectures/view-lecture/4">Spring Beans</a></li>
                </ul>
            </div>
            <div class="col-md-4 col-lg-3 col-xl-3 text-white">
                <h5>Contact</h5>
                <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
                <ul class="list-unstyled">
                    <li><i class="fa fa-home mr-2"></i> FINKI </li>
                    <li><i class="fa fa-envelope mr-2"></i> kristijan.kostovski.1@students.finki.ukim.mk </li>
                </ul>
            </div>
        </div>
    </div>
</footer>