<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.js"></script>
<link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/themes/redmond/jquery-ui.css">
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.js"></script>

<script>
    const inputDateElement = document.querySelector('input[type="date"]');
    inputDateElement.showPicker();
</script>

<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">WEB PROGRAMMING COURSE</h1>
    </div>
</section>
<input id="my-input" type="date">




