<div xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">WELCOME TO THE WEB PROGRAMMING COURSE</h1>
    </div>
  </section>
  <div class="container mb-4">
    <img th:if="${course.getName().contains('Java')}" src="/images/java_logo_icon.png" class="card-img-top" style="width: 360px; height: 180px">
    <img th:if="${course.getName().contains('Introduction to Spring')}" src="/images/Spring-BOOT-Interview-questions-1.jpg" class="card-img-top" style="width: 360px; height: 180px">
    <img th:if="${course.getName().contains('Spring Factory')}" src="/images/Spring-Factory.jpg" class="card-img-top" style="width: 360px; height: 180px">
    <br/>
    <h3 th:text="${course.getId()} + '. ' + ${course.getName()}"></h3>
    <p th:text="${course.getContent()}" style="white-space: pre-line"></p>
    <img th:if="${course.getName().contains('OOP')}" src="/images/OOP.png" class="card-img-top"><br/>
    <img th:if="${course.getName().contains('Spring Factory')}" src="/images/spring-bean-factory.jpg" class="card-img-top" style="width: 720px; height: 480px"><br/>
    <img th:if="${course.getName().contains('Introduction to Spring')}" src="/images/spring-example-architecture-guide-1.jpg" class="card-img-top" style="width: 720px; height: 480px"><br/>
    <img th:if="${course.getName().contains('Beans')}" src="/images/Spring-Bean.PNG" class="card-img-top" style="width: 720px; height: 480px"><br/>
    <a type="button" class="btn btn-primary" href="/lectures">Back to lectures</a>
    <a type="button" class="btn btn-primary" href="#">Join lecture</a>
    <a type="button" class="btn btn-primary" href="#">Open lecture recording</a>
  </div>
</div>
